.hostpage__head {
  background-image: url("https://a0.muscache.com/pictures/5fb428c8-6829-43ee-ba1b-3c557791c73e.jpg");
  object-fit: contain;
  height: 544px;
}

.hostpage__logo {
  width: 34px;
  height: auto;
  cursor: pointer;
  color: white;
  margin-top: 25px;
  margin-left: 25px;
}

.hostpage__text {
  color: white;
  animation: fadeInAnimation ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  padding-left: 80px;
  max-width: 1760px;
  margin-bottom: 0px;
  margin-top: 3%;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hostpage__text1 {
  font-size: 18px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: 700;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
}

.hostpage__text2 {
  max-width: 508px;
  font-size: 60px;
  line-height: 60px;
  margin-bottom: 24px;
  font-weight: 700;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
}

.hostpage__text3 {
  max-width: 481px;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 24px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
}

.hostpage__button {
  cursor: pointer;
  display: inline-block;
  margin: 0px;
  position: relative;
  text-align: center;
  text-decoration: none;
  border-color: black;
  width: auto;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  outline: none;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  background: linear-gradient(to right, #e61e4d 0%, #e31c5f 50%, #d70466 100%);
  color: white;
}

.hostpage__body {
  margin-top: 120px;
  margin-left: 80px;
  margin-right: 80px;
}

.hostpage__chapter {
  display: flex;
  justify-content: space-between;
}

.hostpage__chapterHeader {
  font-size: 46px;
  line-height: 48px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  font-weight: 600;
}

.hostpage__card.cardOne {
  margin-right: 16px;
}

.hostpage__cardHeader {
  max-width: 313px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  margin-bottom: 16px;
  font-weight: 600;
  color: #333333;
  font-size: 24px;
  line-height: 30px;
}

.hostpage__cardBody {
  max-width: 313px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  color: #484848;
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 16px;
}

.hostpage__cardLink {
  text-decoration: underline;
  border-radius: 4px;
  font-weight: 600;
  outline: none;
  color: #222222;
}

.hostpage__answers {
  display: flex;
  margin-top: 120px;
  margin-right: 24px;
  align-items: center;
  margin-bottom: 80px;
}

.hostpage__answersCard {
  background-image: url("https://a0.muscache.com/im/pictures/cf7f2a5d-e1bb-453a-bab4-2265da77f2f2.jpg?im_q=highq");
  background-position: 50% 50%;
  object-fit: cover;
  display: inline-block;
  vertical-align: bottom;
  height: 405px;
  width: 100%;
  min-height: 1px;
  border-radius: 16px;
}

.hostpage__answersText {
  padding-left: 80px;
  padding-right: 24px;
  width: 75%;
}

.hostpage__answersTitle {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  font-weight: 800;
  color: #222222;
  letter-spacing: 0.07em;
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 21px;
}

.hostpage__answersAsk {
  font-size: 42px;
  line-height: 44px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  font-weight: 800;
}

.hostpage__answersBody {
  margin-top: 16px;
  margin-bottom: 16px;
  width: 416px;
  font-size: 18px;
  line-height: 25px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
}

.hostpage__answersButton {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 24px;
  padding-right: 24px;
  outline: none;
  border-radius: 8px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  border: none;
  background: #222222;
  color: #ffffff;
  cursor: pointer;
}
